* {
    font-family: sans-serif;
    /* font-size: 20px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAEAD3;
}

/* HEADER */
header {
    display: flex;
    position: relative;
    width: 100%;
    padding: 20px 98px;
    margin-bottom: 30px;
    /* transition: all 0.6s ease;
    box-shadow: none;
    z-index: 1000; */
}

/* header.sticky {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    border-radius: 14px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
} */


/* IMAGES */
#brand {
    width: 133px;
    height: 133px;

}

#image_inicial {
    margin-right: 50px;
}


/* SECTION 1 */
#section1 {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    width: 1774.48px;
    height: 671.25px;
    align-items: center;
}


/* TÃTULOS */
#tituloprincipal {
    font-family: "Oswald";
    color: #12075A;
    font-size: 96px;
    font-weight: 400;
    /* padding: 284px 870px; */
    text-align: left;
}


/* TEXTOS */
#primeirotexto {
    font-family: "Inter";
    font-size: 36px;
}


/* SECTION 2 */
#section2{
    display: flex;
    width: 1774.48px;
    height: 671.25px;
}
#circulo1{
    border-radius: 100%;
    background-color: #FDE0B6;
    width: 1000px;
    height: 1000px;
    margin: -15%;

}

/* SECTION 3 */
#section3 {

}


/* SECTION 4 */
#section3 {
    width: 1920px;
    height: 50px;
    margin-top: 50px;
    align-items: center;
}


/* SECTION 5 */
#section5 {
    display: flex;
    width: 1920px;
    height: 50px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
}

.benemale_container {
    width: 458px;
    height: 145px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.benemale_pulse {
    width: 458px;
    height: 145px;
    border: 1px solid #219CFE;
    border-radius: 90px;
    background-color: #219CFE;
    animation: pulse 2s infinite;
    position: absolute;
}

.benemale_static {
    width: 458px;
    height: 145px;
    border: 1px solid #219CFE;
    border-radius: 90px;
    background-color: #219CFE;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

@keyframes pulse {
    to {
        transform: scale(1.5);
        opacity: 0
    }
    
}

#titulobeneficios {
    font-family: "Oswald";
    font-size: 96px;
    font-weight: 400;
}

#titulomaleficios {
    font-family: "Oswald";
    font-size: 96px;
    font-weight: 400;
}


/* SECTION 6 */
#section3 {

}


/* SECTION 7 */
#section3 {

}


/* SECTION 8 */
#section8 {

}


/* SECTION 9 */
  .historia9{
    min-width:1920px;
    min-height:1080px;
    padding: 100px;
    font-family: Arial, sans-serif;
    font-size: 30px;
  }

  .title9 {
    color: #000080;
    font-size: 60px;
    margin-bottom: 30px;
  }

  .content9 {
    display: flex;
    justify-content: space-between;
    position:relative
  }

  .text9 {
    flex: 1;
    padding-right: 20px;
    max-width: 842px;
    max-height: 735px;
}

  .imgsec9{
    max-width: 753px;
    max-height: 437px;
  }

  .image9 {
    position: absolute;
    max-width: 753px;
    max-height: 502px;
    display:flex;
    margin-top: 120px;
    right: 0;
  }

  .image9 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  #seciton9 > p {
    margin-bottom: 15px;
    line-height: 1.6;
  }

/* SECTION 10*/
.como-funciona-container10 {
    min-width:1920px;
    min-height:1080px;
    padding: 100px;
    font-family: Arial, sans-serif;
    font-size: 30px;
  }

  .title10 {
    color: #000080;
    font-size: 60px;
    margin-bottom: 20px;
  }

  .content10 {
    display: flex;
    justify-content: space-between;
    position:relative;
  }

  .text10 {
    flex: 1;
    padding-right: 20px;
    max-width: 842px;
    max-height: 735px;
}

  .imgsec10{
    max-width: 753px;
    max-height: 502px;
  }

  .image10 {
    position: absolute;
    max-width: 753px;
    max-height: 502px;
    display:flex;
    margin: 50px;
    right:0;
    z-index: 1;
  }

  .image10 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  #section10 > p {
    margin-bottom: 15px;
    line-height: 1.6;
  }

  .card-back{
      position: absolute;
      max-width: 516.5px;
      max-height: 367.99px;
      display:flex;
      margin: 38px;
      right: 261px;
      z-index: 0;
    }

    .card-back2{
      position: absolute;
      max-width: 516.5px;
      max-height: 367.99px;
      display:flex;
      margin: 200px;
      left: 960px;
      z-index: 0;
    }
  


/* SECTION 11 */

#section11 {
    min-width: 1920px;
    min-height: 1080px;
    padding: 100px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    background-color: #FAEAD3;
}

.section-title11 {
    color: #12075A;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    margin-bottom: 0px;
}

.video-container11 {
    position: relative;
    width: 100%;
    max-width: 1720px;
    height: 769px;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden; 
}

.video-container11 iframe {
    width: 100%;
    height: 100%;
    border: none;
}

