* {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #FAEAD3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    position: relative;
    width: 100%;
    padding: 20px 98px;
    transition: all 0.6s ease;
    box-shadow: none;
    z-index: 1000;
}

header.sticky {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    border-radius: 14px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}


/* IMAGES */
#brand {
    width: 133px;
    height: 133px;

}

#image_inicial {
    margin-right: 50px;
}

/* SECTION 1 */
#section1 {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    width: 1774.48px;
    height: 671.25px;
}

/* SECTION 2 */
#section2{
    display: flex;
    width: 1774.48px;
    height: 671.25px;
}
#circulo1{
    border-radius: 100%;
    background-color: #FDE0B6;
    width: 1000px;
    height: 1000px;
    margin: -15%;

}