* {
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAEAD3;
  max-width: 1920px;
  min-width: 1920px;
}

/* HEADER */
header {
  display: flex;
  position: relative;
  width: 100%;
  padding: 20px 98px;
  margin-bottom: 30px;
}


/* IMAGES */
#brand {
  width: 133px;
  height: 133px;

}

#image_inicial {
  margin-right: 50px;
}


/* SECTION 1 */
#section1 {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  width: 1774.48px;
  height: 671.25px;
  align-items: center;
}


/* TÍTULOS */
#tituloprincipal {
  font-family: "Oswald";
  color: #12075A;
  font-size: 96px;
  font-weight: 400;
  /* padding: 284px 870px; */
  text-align: left;
}


/* TEXTOS */
#primeirotexto {
  font-family: "Inter";
  font-size: 36px;
}


/* SECTION 2 */
#section2 {
  display: flex;
  width: 1774.48px;
  height: 671.25px;
}

#section2_header {
  grid-area: titles;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-self: center;
  text-align: center;
}

#DeepFake_title{
  font-family: "Oswald";
}

#circulo1 {
  display: flex;
  border-radius: 100%;
  background-color: #fde0b6;
  width: 1000px;
  height: 1000px;
  margin: -15%;
  opacity: 80%;
}

#div_title_DeepFake {
  width: 407px;
  height: 116px;
  border-radius: 50px;
  background-color: #f39e55;
  margin-left: 380px;
  margin-top: 633px;
}

#DeepFake_title {
  font-family: "Oswald";
  color: #12075a;
  font-size: 90px;
  font-weight: 400;
  padding-left: 50px;
}


/* SECTION 3 */
#section3 {
  padding: 20px !important;
}

.title3 {
  color: #000080;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 30px;
}

.DeepFake3 {
  min-width: 1920px;
  min-height: 1080px;
  padding: 100px;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.content3 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.text3 {
  flex: 1;
  padding-right: 20px;
  max-width: 842px;
  max-height: 735px;
}

.imgsec3 {
  max-width: 753px;
  max-height: 502px;
}

.image3 {
  position: absolute;
  max-width: 753px;
  max-height: 502px;
  display: flex;
  margin-top: 50px;
  right: 0;
}

.image9 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


/* SECTION 4 */
#section4 {
  padding: 20px !important;
}

.title4 {
  color: #000080;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 30px;
}

.ComoFunciona4 {
  min-width: 1920px;
  min-height: 1080px;
  padding: 100px;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.content4 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.text4 {
  flex: 1;
  padding-right: 20px;
  max-width: 842px;
  max-height: 735px;
}

.imgsec4 {
  max-width: 753px;
  max-height: 502px;
}

.image4 {
  position: absolute;
  max-width: 753px;
  max-height: 502px;
  display: flex;
  margin-top: 50px;
  right: 0;
}

.image4 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


/* SECTION 5 */
#section5 {
  display: flex;
  width: 1920px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-around;
}

.benemale_container {
  width: 458px;
  height: 145px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.benemale_pulse {
  width: 458px;
  height: 145px;
  border: 1px solid #219CFE;
  border-radius: 90px;
  background-color: #219CFE;
  animation: pulse 2s infinite;
  position: absolute;
}

.benemale_static {
  width: 458px;
  height: 145px;
  border: 1px solid #219CFE;
  border-radius: 90px;
  background-color: #219CFE;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

@keyframes pulse {
  to {
    transform: scale(1.5);
    opacity: 0
  }

}

#titulobeneficios {
  font-family: "Oswald";
  font-size: 96px;
  font-weight: 400;
}

#titulomaleficios {
  font-family: "Oswald";
  font-size: 96px;
  font-weight: 400;
}


/* SECTION 6 */
#section6 {
    padding: 20px !important;
}

.protecao6 {
  width: 1920px;
  height: 1080px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 100px;
}

.title6{
  font-family: "Oswald";
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 40px;
  color: #000080;
  max-width: 600px;
}

.content6 {
  display: flex;
  justify-content: space-between;
  position: relative
}

.text6 {
  flex: 1;
  padding-right: 20px;
  max-width: 842px;
  max-height: 735px;
}

.imgsec6 {
  max-width: 753px;
  max-height: 437px;
}

.image6 {
  position: absolute;
  max-width: 753px;
  max-height: 435px;
  display: flex;
  margin-top: 120px;
  right: 0;
}

.image6 img {
  width: 100%;
  height: auto;
}

.bordetop6 {
  position: absolute;
  max-width: 516.5px;
  max-height: 367.99px;
  display: flex;
  margin: 105px;
  right: 146px;
  z-index: 0;
}

.bordebottom6 {
  position: absolute;
  max-width: 516.5px;
  max-height: 367.99px;
  display: flex;
  margin-top: 200px;
  margin-left: 1210px;
  z-index: 0;
}

.eclipse1 {
  position: relative;
  z-index: 0;
  top: 670px;
}



/* SECTION 7 */
#section7 {
  display: grid;
  grid-template-columns: 45% auto auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "left img7 img7"
    "left titles titles"
    "left carousel carousel";
  gap: 30px;
  height: 1500px;
  max-width: 1920px;
  margin: 0;
  padding: 20px !important;
}

#tituloartedigital{
  font-family: "Oswald";
  font-weight: 400;
}

.img7{
  grid-area: img7;
  margin: 0px 10px 0px 500px;
}

.col-left {
  grid-area: left;
  position: relative;
  height: 1100px;
}

.col-left img {
  width: 850px;
  height: 1100px;
}

.col-left h1 {
  position: absolute;
  top: 70%;
  left: 35%;
  font-family:Arial, Helvetica, sans-serif ;
  transform: translate(-50%, -50%);
  color: #000080;
  background-color: FFB463;
  font-size: 70px;
  text-align: center;
  padding: 15px;
  border-radius: 50px;
}

.titulos-e-flechas button{
  border: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #FFB463;
}

.titulos-e-flechas {
  grid-area: titles;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-self: center;
  text-align: center;
}

.titulos-e-flechas h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #000080;
  font-family: Arial, Helvetica, sans-serif;
}

.flecha {
  font-size: 2rem;
  margin-top: 10px;
}

.carrossel {
  background-color: #ffffff;
  padding: 20px;
  display: grid;
  margin: 0px 0px 0px 150px;
  place-items: center;
  min-height: 300px;
  min-width: 800px;
  border-radius: 20px;
}

/* SECTION 8 */
#section8 {
  padding: 20px !important;
}

.protecao8 {
  width: 1920px;
  height: 1080px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 100px;
}

.title8{
  font-family: "Oswald";
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 40px;
  color: #000080;
  max-width: 600px;
}

.content8 {
  display: flex;
  justify-content: space-between;
  position: relative
}

.text8 {
  flex: 1;
  padding-right: 20px;
  max-width: 842px;
  max-height: 735px;
}

.image8 {
  max-width: 753px;
  max-height: 435px;
  display: flex;
  right: 0;
}

.image8 img {
  width: 600px;
  height: 600px ;
}

.eclipse1 {
  position: relative;
  z-index: 0;
  top: 670px;
}

/* SECTION 9 */
#seciton9 {
  position: absolute;
  padding: 20px !important;  
}

.historia9 {
  min-width: 1920px;
  min-height: 1080px;
  padding: 100px;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.title9 {
  font-family: "Oswald";
  font-weight: 400;
  color: #000080;
  font-size: 60px;
  margin-bottom: 30px;
}

.content9 {
  display: flex;
  justify-content: space-between;
  position: relative
}

.text9 {
  flex: 1;
  padding-right: 20px;
  max-width: 842px;
  max-height: 735px;
}

.imgsec9 {
  max-width: 753px;
  max-height: 437px;
}

.image9 {
  position: absolute;
  max-width: 753px;
  max-height: 502px;
  display: flex;
  margin-top: 120px;
  right: 0;
}

.image9 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  z-index: 1;
}

.card-back3 {
  position: absolute;
  max-width: 516.5px;
  max-height: 367.99px;
  display: flex;
  margin: 105px;
  right: 146px;
  z-index: 0;
}

.card-back4 {
  position: absolute;
  max-width: 516.5px;
  max-height: 367.99px;
  display: flex;
  margin-top: 200px;
  margin-left: 1210px;
  z-index: 0;
}

.eclipse1 {
  position: relative;
  z-index: 0;
  top: 670px;
}

/* SECTION 10*/
#section10 {
  padding: 20px !important;
}

.como-funciona-container10 {
  min-width: 1920px;
  min-height: 1080px;
  padding: 100px;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.title10 {
  font-family: "Oswald";
  font-weight: 400;
  color: #000080;
  font-size: 60px;
  margin-bottom: 20px;
}

.content10 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.text10 {
  flex: 1;
  padding-right: 20px;
  max-width: 842px;
  max-height: 735px;
}

.imgsec10 {
  max-width: 753px;
  max-height: 502px;
}

.image10 {
  position: absolute;
  max-width: 753px;
  max-height: 502px;
  display: flex;
  margin: 50px;
  right: 0;
  z-index: 1;
}

.image10 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-back {
  position: absolute;
  max-width: 516.5px;
  max-height: 367.99px;
  display: flex;
  margin: 38px;
  right: 261px;
  z-index: 0;
}

.card-back2 {
  position: absolute;
  max-width: 516.5px;
  max-height: 367.99px;
  display: flex;
  margin: 200px;
  left: 960px;
  z-index: 0;
}

.eclipse2 {
  position: relative;
  z-index: 0;
  top: 670px;
  display: flex;
  justify-content: flex-end;

}

/* SECTION 11 */
#section11 {
  position: relative;
  z-index: 1;
  min-width: 100%;
  min-height: 1080px;
  padding: 100px 50px;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #FAEAD3;
}

.video-container11 {
  position: relative;
  width: 100%;
  max-width: 1720px; /* Define a largura do vídeo */
  height: 769px; /* Define a altura do vídeo */
  margin: 0 auto; /* Remove margem superior para ajustar ao título */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao contêiner do vídeo */
}

.video-container11 iframe {
  width: 100%;
  height: 100%; /* Garante que o vídeo ocupe todo o espaço do contêiner */
  border: none;
}

.sete {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  opacity: 0.5;
}

.section-title11 {
  font-size: 48px;
  color: #12075A;
  text-align: center;
  margin-bottom: 0px; /* Remove a margem inferior para alinhar ao vídeo */
  padding-bottom: 30px; /* Adiciona um pequeno espaçamento inferior */
}
